name: Deploy API

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
    paths:
      - "backend/**"
  workflow_dispatch:

concurrency:
  group: ci-api-deploy-${{ github.ref }} # This will make sure that only one workflow runs at a time
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        run: npm ci --no-audit --no-fund
        working-directory: backend

      - name: Lint code
        run: npm run lint
        working-directory: backend

  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        run: npm ci --no-audit --no-fund
        working-directory: backend

      - name: Build
        run: npm run build
        working-directory: backend

  test:
    needs: [build, lint]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install dependencies
        run: npm ci --no-audit --no-fund
        working-directory: backend

      - name: Run tests
        run: npm test
        working-directory: backend

  validate:
    needs: [build, lint, test]
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install AWS SAM CLI
        run: |
          sudo apt update
          sudo apt install -y awscli
          pip install aws-sam-cli

      - name: Make deploy script executable
        run: chmod +x deploy.sh
        working-directory: backend

      - name: Run Validation Script
        run: ./deploy.sh Validate
        working-directory: backend
        env:
          GITHUB_REF: ${{ github.ref }}

  deploy:
    needs: [build, lint, test]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install AWS SAM CLI
        run: |
          sudo apt update
          sudo apt install -y awscli
          pip install aws-sam-cli

      - name: Make deploy script executable
        run: chmod +x deploy.sh
        working-directory: backend

      - name: Run Deploy Script (Prod)
        run: ./deploy.sh Prod
        working-directory: backend
